<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        .outer {
            min-height: 100vh;
            display: flex;
            justify-content: center;
        }
        .container {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        img {
            width: 100px;
            margin: 20px;
        }
        .title {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 30px;
        }
        .forgot-form {
            width: 500px;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .info {
            font-weight: 200;
            margin-bottom: 15px;
        }
        input {
            border-color: rgb(224, 224, 224);
            border-width: 1px;
            padding-left: 10px;
            width: 400px;
            height: 38px;
            border-radius: 10px;
        }
        button {
            cursor: pointer;
            background-color: #f09000;
            color: white;
            border-style: none;
            font-size: 16px;
            padding: 10px;
            border-radius: 8px;
        }
        .error {
            margin-left: 5px;
            margin-top: 5px;
            font-size: 15px;
        }
    </style>
</head>
<body>
    <div class="outer">
        <div class="container">
            <img src="/images/logo_color_noText.png" alt="">
            <p class="title">Forgot Password</p>
            <div class="forgot-form">
                <form action="/forgot-password" method="POST">
                    <p class="info">Enter your user account's verified email address and we will send you a password reset link.</p>
                    <!-- <label for="email"></label> -->
                    <input placeholder="Enter your email address" type="email" id="email" name="email" required>
                    <button type="submit">Submit</button>
                </form>
                <% if (errorMessage) { %>
                    <p class="error" style="color: red;"><%= errorMessage %></p>
                <% } %>
                <% if (successMessage) { %>
                    <p class="error" style="color: green;"><%= successMessage %></p>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>
