<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/favicon2.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/help.css">
</head>
<body>
    <nav>
        <div class="sidebar-top">
          <span class="shrink-btn">
            <i class='bx bx-chevron-left'></i>
          </span>
          <img src="/images/logo_color_noText2.png" id="essentiLogo" class="logo" alt="">
          <h3 class="hide">ESSENTI</h3>
        </div>
    
        <div class="sidebar-links">
          <ul>
            <div class="active-tab"></div>
            <li class="tooltip-element" data-tooltip="0">
              <a href="/dashboard" data-active="0">
                <div class="icon">
                  <i class='bx bx-tachometer'></i>
                  <i class='bx bxs-tachometer'></i>
                </div>
                <span class="link hide">Dashboard</span>
              </a>
            </li>
            <li class="tooltip-element" data-tooltip="1">
              <a href="/news" data-active="1">
                <div class="icon">
                  <i class='bx bx-folder'></i>
                  <i class='bx bxs-folder'></i>
                </div>
                <span class="link hide">Articles</span>
              </a>
            </li>
            <div class="tooltip">
              <span class="show">Dashboard</span>
              <span>Articles</span>
            </div>
          </ul>
    
          <h4 class="hide">Shortcuts</h4>
          <ul>
            <li class="tooltip-element" data-tooltip="0">
              <a href="/help" class="active" data-active="3">
                <div class="icon">
                  <i class='bx bx-help-circle'></i>
                  <i class='bx bxs-help-circle'></i>
                </div>
                <span class="link hide">Help</span>
              </a>
            </li>
            <li class="tooltip-element" data-tooltip="1">
              <a href="/settings" data-active="4">
                <div class="icon">
                  <i class='bx bx-cog'></i>
                  <i class='bx bxs-cog'></i>
                </div>
                <span class="link hide">Settings</span>
              </a>
            </li>
            <div class="tooltip">
              <span class="show">Help</span>
              <span>Settings</span>
            </div>
          </ul>
        </div>
    
        <div class="sidebar-footer">
          <a href="/mypage" class="account tooltip-element" data-tooltip="0">
            <i class='bx bx-user'></i>
          </a>
          <div class="admin-user tooltip-element" data-tooltip="1">
            <div class="admin-profile hide">
              <a class="profile" href="/mypage">
                <img src="/uploads/<%= user.profilePicture || 'default.png' %>" alt="Profile Picture">
                <div class="admin-info">
                  <h5>Welcome !</h5>
                  <h3><%= username %></h3> 
                </div>
              </a>
            </div>
            <a href="/logout" class="log-out">
              <i class='bx bx-log-out'></i>
            </a>
          </div>
          <div class="tooltip">
            <span class="show"><%= username %></span>
            <span>Logout</span>
          </div>
        </div>
      </nav>
    <main>
      <p class="title">How do I use the site?<p>
      <section class="main-container">
        <div class="tab-nav-bar">
          <div class="tab-navigation">
            <ul class="tab-menu">
              <li class="tab-btn active">Dashboard</li>
              <li class="tab-btn">Articles</li>
              <li class="tab-btn">Mypage</li>
              <li class="tab-btn">Settings</li>
            </ul>
          </div>
        </div>

        <div class="tab-content">

          <!-- 대시보드 -->
          <div class="tab active">
            <div class="col">
              <div class="row1">
                <div class="left-column">
                  <div class="img-card">
                    <img src="/images/help/dashboard1.JPG" alt="">
                  </div>
                </div>
                <div class="right-column">
                  <div class="info">
                    <p class="function">Sentiment Chart</p>
                    <div class="description">
                      <p class="p1">
                        관심있는 종목의 월 별 감정분석 결과 값의 변화를 한 눈에 보여줍니다
                      </p>
                      <p class="p2">
                        차트 우측 상단의 dropdown box를 클릭하여 원하는 종목의 변화를 확인해보세요!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row2">
                <div class="left-column">
                  <div class="info">
                    <p class="function">관심종목 설정</p>
                    <div class="description">
                      <p class="p1">
                        원하는 종목에 하트를 눌러보세요</p>
                      <p class="p2">
                        ESSENTI가 관심 종목에 대한 정보를 제공해줍니다
                      </p>
                    </div>
                  </div>
                </div>
                <div class="right-column">
                  <div class="img-card">
                    <img src="/images/help/dashboard2.JPG" alt="">
                  </div>
                </div>
              </div>
              <div class="row3">
                <div class="left-column">
                  <div class="img-card">
                    <img src="/images/help/dashboard3.JPG" alt="">
                  </div>
                </div>
                <div class="right-column">
                  <div class="info">
                    <p class="function">Articles</p>
                    <div class="description">
                      <p class="p1">
                        원하는 종목에 대해서, 최근 일주일동안 업데이트 된 뉴스를 보여줍니다</p>
                      <p class="p2">
                        글을 눌러 해당 기사의 원문을 확인할 수 있습니다
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- 기사 -->
          <div class="tab">
            <div class="col">
              <div class="row1">
                <div class="left-column">
                  <div class="img-card">
                    <img src="/images/help/articles1.JPG" alt="">
                  </div>
                </div>
                <div class="right-column">
                  <div class="info">
                    <p class="function">Top Navigation</p>
                    <div class="description">
                      <p class="p1">
                        Positive, Negative, Neutral 카테고리로 원하는 감정종류의 기사를 확인 해보세요
                      </p>
                      <p class="p2">
                        Search bar를 통해 원하는 기사를 검색할 수 있습니다
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row2">
                <div class="left-column">
                  <div class="info">
                    <p class="function">Article Block</p>
                    <div class="description">
                      <p class="p1">
                        한 눈에 기사의 정보를 빠르게 파악해보세요 </p>
                      <p class="p2">
                        기사 감정결과를 제공하고, 요약 기능을 제공합니다 </br>
                        돋보기에 마우스를 올릴 시 기사의 내용을 미리보기로 빠르게 확인 할 수 있습니다
                      </p>
                    </div>
                  </div>
                </div>
                <div class="right-column">
                  <div class="img-card">
                    <img src="/images/help/articles2.JPG" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 마이페이지 -->
          <div class="tab">
            <div class="col">
              <div class="row1">
                <div class="left-column">
                  <div class="img-card">
                    <img src="/images/help/mypage1.JPG" alt="">
                  </div>
                </div>
                <div class="right-column">
                  <div class="info">
                    <p class="function">Edit Profile Image</p>
                    <div class="description">
                      <p class="p1">Upload 버튼을 클릭하면</br>
                        Choose File / Set Default Image / Close 를 팝업창으로 확인 할 수 있습니다 </br>
                        파일을 선택하여 이미지를 바꾸거나 기본 이미지로 프로필 사진을 변경할 수 있습니다
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row2">
                <div class="left-column">
                  <div class="info">
                    <p class="function">관심종목 확인</p>
                    <div class="description">
                      <p class="p1">
                        Dashboard에서 좋아요를 눌렀던 종목들을 한 번에 볼 수 있습니다
                      </p>
                    </div>
                  </div>
                </div>
                <div class="right-column">
                  <div class="img-card">
                    <img src="/images/help/mypage2.JPG" alt="">
                  </div>
                </div>
              </div>

              <div class="row3">
                <div class="left-column">
                  <div class="img-card">
                    <img src="/images/help/mypage3.JPG" alt="">
                  </div>
                </div>
                <div class="right-column">
                  <div class="info">
                    <p class="function">Delete Account</p>
                    <div class="description">
                      <p class="p1">Delete account 버튼을 클릭하면</br>
                        다시 한 번 삭제할지 묻는 팝업창이 뜹니다 </br>
                        Delete를 누르면 계정을 삭제 할 수 있습니다
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 환경설정 & 로그아웃 -->
          <div class="tab">
            <div class="col">
              <div class="row1">
                <div class="left-column">
                  <div class="img-card">
                    <img src="/images/help/settings1.JPG" alt="">
                  </div>
                </div>
                <div class="right-column">
                  <div class="info">
                    <p class="function">Change Theme</p>
                    <div class="description">
                      <p>해 아이콘을 클릭하면 Light Mode가 적용됩니다</br>
                        달 아이콘을 클릭하면 Dark Mode가 적용됩니다
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row2">
                <div class="left-column">
                  <div class="info">
                    <p class="function">로그아웃</p>
                    <div class="description">
                      <p>
                        Side Navigation Bar의 좌측 하단의 문을 클릭하면 로그아웃이 됩니다</br>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="right-column">
                  <div class="img-card">
                    <img src="/images/help/settings2.JPG" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

       
        
      </section>
    </main>
    <script src="/js/nav.js"></script>
    <script src="/js/help.js"></script>
    <script src="/js/settings.js"></script>
</body>
</html>