<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css"> <!-- 필요한 스타일 시트 링크 -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="/images/logo_white_noText.png" alt="">
            <a href="#" class="logo-text">ESENTI</a>
        </div>
        
        <!-- <a href="#" class="logo">ESENTI</a> -->
        <nav class="navbar">
            <a href="#">Category1</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>

    <!-- 추가: 오류 메시지를 표시할 div -->
    <script>
    window.onload = function() {
        const errorMessage = '<%= typeof errorMessage !== "undefined" ? errorMessage : "" %>';
        if (errorMessage) {
            alert(errorMessage);  // alert 창으로 오류 메시지 표시
        }
    };
    </script>
    
    <div id="error-popup" style="display:none;">
        <p id="error-message"></p>
    </div>

    <section class="section">
        <div class="bg-img">
            <img src="/images/logo_white.png" alt="Esenti">
        </div>
        <div class="wrapper">
            <span class="icon-close">
                <i class='bx bx-x'></i>
            </span>
            <div class="logreg-box">
                <!-- login form -->
                <div class="form-box login">
                    <div class="logreg-title">
                        <h2>Login</h2>
                        <p>Please login to use the platform</p>
                    </div>
                    <form action="/login" method="POST">
                        <div class="input-box">
                            <span class="icon"><i class='bx bx-key' ></i></span>
                            <input type="text" name="id" required>
                            <label for="id">ID</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><i class='bx bx-lock-alt' ></i></span>
                            <input type="password" name="password" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="remember-forgot">
                            <label><input type="checkbox">Remember me</label>
                            <a href="#">Forgot password?</a>
                        </div>
                        <button type="submit" class="btn loginbtn">Login</button>
                        <div class="logreg-link">
                            <p>Don't have an account? <a href="#" class="register-link">Sign up here!</a></p>
                        </div>
                    </form>
                </div>

                <!-- register form -->
                <div class="form-box register">
                    <div class="logreg-title">
                        <h2>Registration</h2>
                        <p>Please provide the follwing to verify your identity</p>
                    </div>

                    <form action="/register" method="POST">
                        <div class="input-box">
                            <span class="icon"><i class='bx bxs-user'></i></span>
                            <input type="text" name="name" required>
                            <label for="name">Name</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><i class='bx bx-key' ></i></span>
                            <input type="text" name="id" required>
                            <label for="id">ID</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><i class='bx bx-lock-alt' ></i></span>
                            <input type="password" name="password" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><i class='bx bxs-envelope' ></i></span>
                            <input type="email" name="email" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="remember-forgot">
                            <label><input type="checkbox">I agree to the terms & conditions</label>
                        </div>
                        <button type="submit" class="btn registerbtn">Sign up</button>
                        <div class="logreg-link">
                            <p>Already have an account? <a href="#" class="login-link">Login</a></p>
                        </div>
                    </form>
                </div>
            </div>

            <div class="media-options">
                <a href="#">
                    <i class='bx bxl-google'></i>
                    <span>Login with Google</span>
                </a>
            </div>
        </div>
    </section>
    <script src="/js/login.js"></script>

    <!-- <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="id">ID:</label>
        <input type="text" name="id" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="/register">Sign up here!</a></p> 회원가입 링크 추가 -->
</body>
</html>
