<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        .outer {
            min-height: 100vh;
            display: flex;
            justify-content: center;
        }
        .container {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        img {
            width: 100px;
            margin: 20px;
        }
        .title {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 30px;
        }
        .reset-form {
            width: 500px;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .info {
            font-weight: 200;
            margin-bottom: 15px;
        }
        input {
            border-color: rgb(224, 224, 224);
            border-width: 1px;
            padding-left: 10px;
            width: 350px;
            height: 38px;
            border-radius: 10px;
        }
        button {
            cursor: pointer;
            background-color: #f09000;
            color: white;
            border-style: none;
            font-size: 16px;
            padding: 10px;
            border-radius: 8px;
        }
        .error {
            margin-left: 5px;
            margin-top: 5px;
            font-size: 15px;
        }
    </style>
</head>
<body>
    <div class="outer">
        <div class="container">
            <img src="/images/logo_color_noText.png" alt="">
            <p class="title">Reset Password</p>
            <div class="reset-form">
                <form action="/reset-password/<%= token %>" method="POST">
                    <p class="info">Please enter a new password</p>
                    <!-- <label for="password">New Password:</label> -->
                    <input placeholder="Enter a new password" type="password" id="password" name="password" required>
                    <button type="submit">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
