<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/favicon2.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/settings.css">
    <title>Settings</title>
</head>
<body>
    <nav>
        <div class="sidebar-top">
          <span class="shrink-btn">
            <i class='bx bx-chevron-left'></i>
          </span>
          <img src="/images/logo_color_noText2.png" id="essentiLogo" class="logo" alt="">
          <h3 class="hide">ESSENTI</h3>
        </div>
    
        <div class="sidebar-links">
          <ul>
            <div class="active-tab"></div>
            <li class="tooltip-element" data-tooltip="0">
              <a href="/dashboard" data-active="0">
                <div class="icon">
                  <i class='bx bx-tachometer'></i>
                  <i class='bx bxs-tachometer'></i>
                </div>
                <span class="link hide">Dashboard</span>
              </a>
            </li>
            <li class="tooltip-element" data-tooltip="1">
              <a href="/news" data-active="1">
                <div class="icon">
                  <i class='bx bx-folder'></i>
                  <i class='bx bxs-folder'></i>
                </div>
                <span class="link hide">Articles</span>
              </a>
            </li>
            <div class="tooltip">
              <span class="show">Dashboard</span>
              <span>Articles</span>
            </div>
          </ul>
    
          <h4 class="hide">Shortcuts</h4>
          <ul>
            <li class="tooltip-element" data-tooltip="0">
              <a href="/help" data-active="3">
                <div class="icon">
                  <i class='bx bx-help-circle'></i>
                  <i class='bx bxs-help-circle'></i>
                </div>
                <span class="link hide">Help</span>
              </a>
            </li>
            <li class="tooltip-element" data-tooltip="1">
              <a href="/settings" class="active" data-active="4">
                <div class="icon">
                  <i class='bx bx-cog'></i>
                  <i class='bx bxs-cog'></i>
                </div>
                <span class="link hide">Settings</span>
              </a>
            </li>
            <div class="tooltip">
              <span class="show">Help</span>
              <span>Settings</span>
            </div>
          </ul>
        </div>
    
        <div class="sidebar-footer">
          <a href="/mypage" class="account tooltip-element" data-tooltip="0">
            <i class='bx bx-user'></i>
          </a>
          <div class="admin-user tooltip-element" data-tooltip="1">
            <div class="admin-profile hide">
              <a class="profile" href="/mypage">
                <img src="/uploads/<%= user.profilePicture || 'default.png' %>" alt="Profile Picture">
                <div class="admin-info">
                  <h5>Welcome !</h5>
                  <h3><%= username %></h3> 
                </div>
              </a>
            </div>
            <a href="/logout" class="log-out">
              <i class='bx bx-log-out'></i>
            </a>
          </div>
          <div class="tooltip">
            <span class="show"><%= username %></span>
            <span>Logout</span>
          </div>
        </div>
      </nav>
    <main>
        <div class="header">
            <p>Settings</p>
        </div>
        <div class="section">
            <div class="theme">
                <div class="ThemeInfo">
                    <p class="info">Choose how ESSENTI looks to you. Select a single theme.</p>
                    <p class="info2">Selections are apllied immediately and saved automatically.</p>
                    <p class="info3">ESSENTI를 어떻게 보고 싶은지 선택해주세요. 하나의 테마를 선택하면, 즉시 적용되며 자동으로 반영됩니다.</p>
                    <p class="ThemeTitle">Theme mode</p>
                </div>
                <div class="select-theme">
                    <div class="light-theme">
                        <p>Light Mode</p>
                        <button id="lightTheme" class="theme"><img src="/images/sun.png" alt="This is a light mode"></button>
                    </div>
                    <div class="dark-theme">
                        <p>Dark Mode</p>
                        <button id="darkTheme" class="theme">
                          <img class="dark-moon" src="/images/moon-color.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/nav.js"></script>
    <script src="/js/settings.js"></script>
</body>
</html>